h1{
    text-align: center;
}
#content{
    margin-left:10%; 
    margin-right:10%; 
    background-color:#FFF;
}
#content p{
    margin-left:5%; 
    background-color:#FFF;
}

#bodButton{
    margin-left:10%; 
}
header{
    background-color: black;
}

body{
    background-color:#F5F5F5;
}


#heading h1{
   color: white;
}
#bodButton button{

    width: 90%;
    height: 50px;
    background-color: cadetblue;
    color: white;
  
}
#logoutsection button{
    margin-left: 85%;
    margin-top: 5%;

}