
#content {
    padding: 2.5%;
    background-color: #ffffff;
}
.column {
    float: left;
    padding: .9%;
  }
  
  .left {
    width: 23%;
    background-color: #FD5656;
    position: fixed;
    height: 100%;
  }
  
  .right {
    width: 70%;
    margin-left:22%; 

  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #obj h4{
      margin-left:2%;
  }
  #linkicons img{
    width:42px;
     height:46px
  }
  #education table{
      margin-left:5%;
  }
#links li{
    margin-top:2%;
    margin-bottom: 10%;


}
#links a{
    color: #000000;
    
}
#pic img{
    margin-top: 3%;
    border-radius: 25%;
    height: 200px;
    width: 200px;
    margin-bottom: 4%;
    border: .5px solid #000000;
}